.home {
  width: 100%;
  height: 200%;
  color: #1c0303;
}
.about img {
  width: 25%;
  height: 25%;
}

.about p {
  color: #1c0303;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }
}
