.imgall img {
  height: 55%;
  width: 10%;
}
.imgall {
  text-align: left;
}
.list {
  color: bisque;
  text-align: left;
  font-size: 25px;
}
.resume a:hover {
  color: red;
  font-size: 30px;
}
.resume a {
  color: azure;
  font-size: 20px;
}
